*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: rgb(100, 255, 100);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}
nav ul li a{
    color: rgb(100, 255, 100);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;

}
.btn{
background-color:rgb(100, 255, 100);
color: white;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding:10px 25px;
border-radius: 30px;
transition: transform .4s;
}
.btn:hover{
    color: #f9004d;
    background-color: rgb(0, 255, 98);
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
}
h1{
    color: white;
    margin: 10px 10px 20px;
    font-size: 50px;
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
}
h4{
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.newsletter form{
    width:380px;
    max-width: 100px;
    position: relative;

}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 150px 10px 15px;
    border: 2px solid rgb(79, 50, 245);
    outline: none;
    border-radius: 50px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 40px;
    background-color: rgb(100, 141, 255);
    color:aqua;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.name{
    color: rgb(33, 130, 241);
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 400px;
    border-radius: 40px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color: rgb(170, 149, 245);
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
}
.about-text input{
    position: absolute;
    display: inline-block;
    background-color: #f9004d;
    color: white;
    margin-bottom: 45px;
    padding: 5px 5px;
    border-radius: 9px;
}
.about-text input:hover{
    background-color:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/*  -------MY SKILLS------ */
 .skills{
    background-color:darkslategray;
    width: 100%;
    padding: 50px 30px;
 }
 .skills h2{
    color: white;
    font-size: 60px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
 }
 .skill-all{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
 }
.skill-list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: aquamarine;
    border-radius: 50px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.skill-list-yet p{
    color: rgb(238, 248, 238);
    align-items: right;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 40px;
}
.skill-list-yet{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flexbox;
    background: rgb(10, 236, 161);
    justify-content: center;
    min-height: 200px;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 50px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.skill-list:hover{
    color: aqua;
    background-color:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.skill-list-yet:hover{
    color: aqua;
    background-color:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.connect h2{
    background-color: #191919;
    color:aqua;
    font-family:serif;
    padding: 100px 50px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
} 
.connect{
    position: relative;
    width: 100%;
    height: 200px;
    background:#858585;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    position: relative;
    width: 100%;
    height: 200px;
    background:#101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h2 {
    color:rgba(57, 207, 89, 0.63);
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}
footer h3{
    color:rgba(57, 207, 89, 0.63);
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}
footer h2:hover{
    color:aqua;
    transition: .4s;
    transform: scale(1.1);
}
.connect-me p{
    color: rgb(255, 177, 75);
    padding: 10px 50px;
    margin: 5px;
}
.connect-me a{
    color: rgb(6, 255, 81);
    padding: 10px 10px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}
.connect-me a:hover{
    color: #1900f9;
    transform: scale(1.1);
    transition: .3s;

}
.copy p{
color: aliceblue;
padding: 10px 10px;
margin: 10px;
}



